
.suggestion-wrapper {
    background-color: #333333;
}
.query-details {
    background-color: #4E5860;
    display: flex;
    width: 80%;
}
.query-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.query-details h3{
    margin: 1rem
}
.query-details img {
    margin: 1rem;
    height: min-content;
} 
.suggestion {
    display: flex;
    background-color: floralwhite;
    align-items: center;
    width: auto;
    text-decoration: none;
    color: black;
    margin-bottom:1rem ;
    margin-right: 1rem;
}
.suggestion:hover {
    background-color: bisque;
}
.suggestion h4{
    color: black;
    margin-top: 1rem;
}
.artist-image{ 
    width:100%;
}
.suggestions {
    font-size: 1em;
    width: 100%;
}
.tracks {
    margin-left: 1rem;
}
.track-details{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.load-more {
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.artist-image {
    width: 80%;   
    background-color: #4E5860;
    margin: 1rem;
    display: flex;
    justify-content: left;
}
.artist-image img{
    margin: 1rem 2rem;
} 
.search-detail {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.search-detail h4{
    margin: 1rem 0;
}
.col2{
    margin-left: 1rem ;
    display: flex;
    flex-direction: column;
}
.more-suggestion{
    text-decoration: none;
    color: black;
    width: auto;
}
.col2 h2 {
    margin: 1rem 0;
}
@media screen and (max-width: 450px) {
    .wrapper {
        flex-direction: column;
    }
    .suggestion {
        width: auto;
    }
    .artist-image {
        flex-direction: column;
        align-items: center;
    }
}